@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.update-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Rubik', sans-serif;
}

.update-group__title {
  font-size: 22pt;
  font-weight: 400;
  color: teal;
}

.update-group h1 {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 2px grey solid;
}

.update-group input {
  margin-top: 20px;
  width: 20vw;
  border-width: 3px;
}

.update-group p {
  margin-top: 5px;
  color:red;
  font-size: 11pt;
  margin-bottom: 0px;
}

.update-group__about__input {
  height: 12vw;
}

.update-group__name {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.update-group__about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 15px;
}



.update-group__location {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.update-group__location > div {
  font-size: 10pt;
}

.update-group__name > div {
  font-size: 10pt;
}

.update-group__about > div {
  font-size: 10pt;
}

.update-group__final {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 5px;
  border-top: 2px grey solid;
  padding-bottom: 20px;
  border-bottom: 2px grey solid;
}

.update-group select {
  width: 10vw;
  text-align: center;
  margin-top: 10px;
  border-width: 3px;
}

.update-group__final label {
  margin-top: 20px;
}

.update-group__final__label {
  margin-top: 10px;
}

.update-group__submit {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 15vw;
  height: 4vw;
  color: white;
  background-color: red;
  box-shadow: 2px 2px 2px black;
  font-size: 14pt;
}

.update-group__submit:disabled {
  background-color: grey;
}
