@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.event-detail {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.event-detail__head {
  padding-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.event-detail__head__name {
  padding-bottom: 10px;
  font-size: 20pt;
  font-weight: 400;
}

.event-detail__head__host {
  padding-bottom: 50px;
  color: grey;
  font-weight: 300;
}

.event-detail__head__back {
  padding-bottom: 15px;
}

.event-detail__head__back > a {
  color: teal;
  text-decoration: underline;
  font-weight: 400;
}

.event-detail__bottom {
  background-color: rgb(240, 240, 240);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  height: 100%;
}

.event-detail__bottom__middle-container {
  display: flex;
  width: 900px;
  margin-top: 25px;
  justify-content: space-between;
  padding-bottom: 50px;
}

.event-detail__bottom__image {
  border: 3px solid rgb(77, 77, 77);
  overflow: hidden;
  width: 450px;
  height: 250px;
}

.event-detail__bottom__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-detail__bottom__middle-right {
  display: flex;
  flex-direction: column;
  width: 425px;
  justify-content: space-between;
  height: 250px;
}

.event-detail-group-details {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
  border-radius: 10px;
  background-color: white;
}
.event-detail-group-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

.event-detail-group-details-name {
  font-weight: 400;
  color: black;
}

.event-detail-group-details-private {
  color: grey;
  font-size: 10pt;
}

.event-detail-event-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  color: grey;
  gap: 10px;
}

.event-detail__bottom__info__time {
  display:flex;
  align-items: center;
  gap: 10px;
  /* padding-bottom: 15px; */
  padding-top: 10px;
  padding-left: 20px;
}

.event-detail__bottom__info__time__container {
  color: teal;
}

.event-detail__bottom__info__price {
  display:flex;
  padding-left: 20px;
}

.event-detail__bottom__info__location {
  display:flex;
  padding-left: 20px;
}

.event-detail__bottom__info__button {
  display: flex;
  justify-content: end;
  padding: 5px;
  gap: 20px;
}

.event-detail__bottom__info__button > button {
  background-color: rgb(89, 89, 89);
  font-family: 'Rubik', sans-serif;
  color: white;
  height: 2vw;
}

.event-detail-group-details-image-container {
  border: 3px solid rgb(77, 77, 77);
  overflow: hidden;
  width: 100px;
  height: 70px;
  margin: 10px;
}

.event-detail-group-details-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-detail__bottom__details-head {
  font-weight: 400;
  font-size: 16pt;
  align-self: start;
  padding-bottom: 10px;
}

.event-detail__bottom__details {
  align-self: start;
}
