@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');

.event-page__head {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}

.event-page__list > a {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-rows: auto auto 25% auto auto;
  grid-template-columns: 50% 50%;
  border-bottom: solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.event-page__caption {
  font-family: 'Noto Sans', sans-serif;
  border-bottom: solid grey;
  padding-bottom: 25px;
  font-size: 12pt;
  font-weight: 500;
  color: grey;
}

.event-page__list__type {
  align-self: end;
  font-weight: 300;
}

.event-page__list__date {
  font-weight: 300;
  color: teal;
}

.event-page__list__name {
  font-weight: 500;
  font-size: 20pt;
}

.event-page__head > a {
  font-size: 20pt;
  font-weight: 500;
}

.event-page__list img {
  grid-row-start: 1;
  grid-row-end: 5;
}

.event-page__list__location {
  color: grey;
  font-weight: 300;
}

.event-page__list__desc {
  font-weight: 300;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 3vh
}
