.about {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-self: center;
}

.about > h1 {
  grid-row-start: 1;
  grid-row-end: 2;
  font: 24pt bold;
  justify-self: center;
  align-self: end;
}

.about > p {
  grid-row-start: 2;
  grid-row-end: 3;
  font: 14pt;
  text-align: center;
  align-self: start;
}

.about > img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  width: 580px;
  height: 340px;
  object-fit: fill;
}

.info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info > h1 {
  font: 24pt bold;
  justify-self: center;
}

.info > div {
  font: 14pt;
  text-align: center;
}

.join {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.links img {
  width: 300px;
  height: 200px;
  object-fit: fill;
}

.links > * {
  margin: 50px 50px 50px 50px
}

a:hover {
  color: red;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration-line: none;
}

.groups {
  display:flex;
  flex-direction: column;
}

.events {
  display:flex;
  flex-direction: column;
}

.join-button {
  display:flex;
  flex-direction: column;
}
