.home__welcome {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-self: center;
}

.home__welcome > h1 {
  grid-row-start: 1;
  grid-row-end: 2;
  font: 26pt bold;
  justify-self: center;
  align-self: end;
}

.home__welcome > p {
  grid-row-start: 2;
  grid-row-end: 3;
  font: 14pt;
  text-align: center;
  align-self: start;
}

.home__welcome > img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  width: 580px;
  height: 340px;
  object-fit: fill;
}

.home__info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home__info > h1 {
  font: 20pt bold;
  justify-self: center;
}

.home__info > div {
  font: 14pt;
  text-align: center;
}

.home__signup {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home__links {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.home__links img {
  width: 300px;
  height: 200px;
  object-fit: fill;
}

.home__links > * {
  margin: 50px 50px 50px 50px
}

a:hover {
  color: red;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration-line: none;
}

.home__links__groups {
  display:flex;
  flex-direction: column;
}

.home__links__events {
  display:flex;
  flex-direction: column;
}

.home__links__join {
  display:flex;
  flex-direction: column;
}

.home__links a {
  color: teal;
  font: 16pt bold;
}

.home__links__join--nonlink {
  color: rgb(127, 124, 124);
  font: 16pt bold;
}

.home__signup > button {
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  box-shadow: 3px 3px 3px black;
}

.home__links > div > div {
  margin-top: 10px;
}
