.hidden {
  display: none
}

.navbar__logo__img {
  width: 100px;
  height: auto;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: grey solid;
  height: 60px;
}

.navbar__logo {
  position: relative;
  left: 25px;
  top: 10px;
}

a.navbar__logo.active {
  height: 36px;
}

.navbar__profile {
  align-self: center;
  position: relative;
  top: -4px;
}

.navbar__new-group {
  align-self: center;
  position: absolute;
  left:90%;
  margin-left:-90px;
  color:teal;
  font-size: 12pt;
  font-weight: 525;
}
