.hidden {
  display: none
}

.logo-img {
  width: 100px;
  height: auto;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: grey solid;
  height: 60px;
}

.logo {
  position: relative;
  left: 25px;
  top: 10px;
}

a.logo.active {
  height: 36px;
}
