@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.hidden {
  display: none
}

.navbar__logo__img {
  width: 100px;
  height: auto;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: grey solid;
  height: 60px;
  font-family: 'Rubik', sans-serif;
}

.navbar__logo {
  position: relative;
  left: 25px;
  top: 10px;
}

a.navbar__logo.active {
  height: 36px;
}

.navbar__profile {
  align-self: center;
  position: relative;
  top: -4px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navbar__new-group {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  align-self: center;
  /* position: absolute; */
  /* left:90%; */
  /* margin-left:-90px; */
  color:teal;
  font-size: 12pt;
  padding-left: 70vw;
  padding-right: 1vw;

}
