.profile__button {
  background-color: white;
  height: 35px;
  width: 70px;
  border: 2px solid red;
  border-radius: 5px;
}

.profile-dropdown {
  position: absolute;
  padding: 0px;
  background-color: white;
  list-style-type: none;
  border: 2px solid red;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 120px;
  left: -20px;
}

.profile-dropdown > li {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.profile-dropdown a {
  color: black;
}

.profile-dropdown > a {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.menu-modals:hover {
  color: red;
  text-decoration-line: underline;
}

.user-menu-logout {
  /* background-color: rgb(255, 116, 116); */
  background-color: teal;
  color: white;
}
