@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.login__input {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

.login > h1 {
  text-align: center;
  font-size: 20pt;
  font-weight: 400;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  font-family: 'Rubik', sans-serif;
}

.login__input > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__input span {
  text-align: center;
  font-size: 12pt;
  font-weight: 400;
}

.login__input input {
  width: 250px;
}

.login__errors {
  color: red;
  text-align: center;
}

.login__input > button {
  height: 32px;
  font-size: 11pt;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  width: 100%;
}

.login__input > button:enabled {
  background-color: rgb(249, 75, 75);
  color: white;
}

.login__demo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.login__demo > button {
  box-shadow: 2px 2px 2px black;
  background-color: teal;
  color: white;
}
